@tailwind base;
@tailwind components;
@tailwind utilities;

.homeContainer{
    width: 100%;
    min-height: 85vh;
  }
.homeSearches{
    box-Sizing: content-box!important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 85vh;
    text-align: center;
    align-items: center;
  }
.pointer {
  cursor: pointer;
}

.espacio, .espacioD {
  margin-bottom: 160px;
}
.espacioU {
  margin-bottom: 200px;
}
@media (max-width: 480px) {
  .espacio {
    margin-bottom: 70px;
  }
  .espacioD, .espacioU {
    margin-bottom: 240px;
  }
}  

/* navbar */
@media (min-width: 640px) {
  .flexin {
    display: flex;
  }
}
.g {
  gap: 1rem;
}